---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <Header /> -->
		<main class="min-h-screen w-full scroll-smooth pb-20">
			<section class="section py-16 min-h-screen">
				<div class="u-container">
					<div class="stack">
						<h2 class="text-6 font-medium">Blog</h2>
					</div>
					<ul class="mt-10">
						{
							posts.map((post) => (
								<li class="pb-5 pt-3 group">
									<a href={`/blog/${post.id}/`}>
										<h4 class="title text-3 font-semibold group-hover:underline">{post.data.title}</h4>
										<p class="date">
											<FormattedDate
												date={post.data.pubDate}
											/>
										</p>
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
