---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/inter";
import "@fontsource-variable/inter-tight";

const projects = (await getCollection("projects")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-off-white">
		<main class="min-h-screen w-full scroll-smooth pb-20">
			<section class="section py-16">
				<div class="u-container w-full max-w-6xl mx-auto">
					<div class="stack space-y-5">
						<div class="flex flex-wrap gap-4">
							<div
								class="img-box size-24 rounded-3xl border-2
							border-slate-950 shadow-2xl bounce-animation"
							>
								<img
									src="/portrait.jpeg"
									alt=""
									srcset=""
									class="absolute top-0 left-0 w-full h-full object-cover"
								/>
							</div>
							<div class="flex flex-col items-start gap-2">
								<div
									class="badge bg-primary text-primary-foreground
								shadow hover:bg-primary/90"
								>
									Full Stack Developer
								</div>
								<div
									class="badge bg-secondary text-secondary-foreground
								shadow-sm hover:bg-secondary/80"
								>
									Working with React, ASP.NET
								</div>
								<div
									class="badge bg-accent text-accent-foreground
								shadow-sm hover:bg-accent/80"
								>
									Building PWA's, iOS and Android apps
								</div>
							</div>
						</div>

						<h1 class="text-7 font-semibold block mt-24">
							Chilufya Mutale
						</h1>

						<p class="block text-1 !max-w-[50ch]">
							Exploring R&D processes and building innovative,
							highly technical software solutions that solve
							real-world problems.
						</p>

						<div class="button-row flex gap-6 mt-12">
							<a
								href="http://www.linkedin.com/in/chilufya-mutale"
								target="_blank"
								class="block"
							>
								<span class="font-medium underline text-0 hover:text-foreground/80"
									>LinkedIn</span
								>
							</a>
							<a
							href="http://www.github.com/cmmutale/"
							target="_blank"
							class="block"
						>
							<span class="font-medium underline text-0 hover:text-foreground/80"
								>Github</span
							>
						</a>

						</div>
					</div>
				</div>
			</section>

			<!-- <section id="projects" class="py-12">
				<div class="wrapper u-container max-w-[1120px] mx-auto">
					<div class="stack">
						<h2 class="text-6 font-medium">Projects</h2>
					</div>
					<div class="card-gallery mt-20 grid md:grid-cols-2 gap-10">
						{
							projects.map((project) => {
								// check if there is a displayImage
								if (project.data.displayImage) {
									return (
										<div
											class={`card space-y-4 relative ${project.data.featured && "md:col-span-2"}`}
										>
											<div class="card-header relative">
												<img
													src={
														project.data
															.displayImage
													}
													alt=""
													class="object-cover w-96 aspect-video object-top border-2 border-border"
												/>
												<a
													href={`/projects/${project.id}`}
													class="absolute top-0 left-0 w-full h-full"
												/>
											</div>

											<div class="card-content space-y-2">
												<h3 class="text-2">
													{project.data.title}
												</h3>
												<p>
													{project.data.description}
												</p>
											</div>
										</div>
									);
								} else {
									return (
										<div
											class={`card space-y-4 relative ${project.data.featured && "md:col-span-2"}`}
										>
											<div class="card-content space-y-2">
												<a
													href={`/projects/${project.id}`}
													class="block"
												>
													<h3
														class={`text-3 font-semibold hover:underline ${project.data.featured && "md:col-span-2 md:text-4"}`}
													>
														{project.data.title}
													</h3>
												</a>
												<p>
													{project.data.description}
												</p>
											</div>
										</div>
									);
								}
							})
						}
					</div>
				</div>
			</section> -->
		</main>
		<Footer />
	</body>
</html>
